li {
    background-color: rgb(112, 112, 255);
    width: 300px;
    height: 35px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
}
li.active {
    background-color: green;
}

span {
    display: block;
}
li .btn {
    display: flex;
    gap: 10px;
}

li .text {
    display: flex;
    align-items: center;
    height: 20px;
    gap: 10px;
}

input {
    margin: unset;
}
.checkbox {
    height: 15px;
    width: 15px;
    border: none;
}
ul,
p {
    margin: unset;
    padding: unset;
}
.todo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.value{
    height: 40px;
    padding-left: 20px;
    width: 210px;
    border-radius: 5px;
    outline: none;
    border: 3px solid rgb(222, 222, 222);
    transition: 0.5s;
    font-size: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.value.active ::placeholder {
    color: rgb(207, 207, 207);
}
.value:focus {
    border: none;
    box-shadow: rgba(133, 244, 42, 0.589) 0px 7px 29px 0px;
    border: 3px solid rgb(0, 205, 0);
}
.add,
.apply {
    width: 82px;
    height: 46px;
    border: none;
    padding: unset;
    background-color: rgb(117, 117, 255);
    color: white;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: 0.6s;
    display: none;
}
.apply {
    display: none;
}
.add.active {
    display: block;
}
.apply.active {
    display: block;
    padding: 0 10px;
    width: 90px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.add:hover {
    box-shadow: rgba(244, 133, 42, 0.589) 0px 7px 29px 0px;
    background-color: rgb(255, 166, 0);
    cursor: pointer;
}
.apply:hover {
    box-shadow: rgba(150, 244, 42, 0.589) 0px 7px 29px 0px;
    background-color: rgb(73, 208, 0);
    cursor: pointer;
}
.heading {
    text-align: center;
    font-size: 30px;
    color: orange;
}
.edit,
.remove {
    cursor: pointer;
}
.edit i,
.remove i {
    font-size: 20px;
}
form {
    display: block;
}
.form-todo {
    display: flex;
}
